[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"
gunicorn = "*"
google-images-download = {git = "https://github.com/Joeclinton1/google-images-download"}

[dev-packages]

[requires]
python_version = "3.8"
